.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 1.5em;
}

.small-card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 1.5em;
}


.small-card-grid > div:nth-child(2),
.small-card-grid > div:nth-child(5) {
  justify-self: center;
}

.small-card-grid > div:nth-child(3),
.small-card-grid > div:nth-child(6) {
  justify-self: flex-end;
}

@media only screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
