@font-face {
  font-family: 'Naruto Ninja';
  src: url('/fonts/NinjaNaruto-YOn4.ttf');
}

@font-face {
  font-family: 'Kero Kero';
  src: url('/fonts/KeroKero-51BBx.ttf');
}

:root {
  --primary: #ec5c2a;
  --secondary: #298acd;
  --highlight: #df3347;
  --bg1: #61ad98;
  --bg2: #2a504b;
  --black: #171026;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Kero Kero', sans-serif;
  font-size: 1.5em;
  text-shadow: -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black),
    0 -2px var(--black);
  background-image: linear-gradient(135deg, var(--bg1) 0%, var(--bg2) 100%);
  height: 100%;
  color: var(--primary);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#__next {
  height: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.stack > * {
  margin-bottom: 0.5em;
}

h1,
h2,
h3 {
  color: var(--primary);
}

button {
  all: unset;
  cursor: pointer;
  color: var(--highlight);
}
