.Game {
  max-width: 860px;
  margin: 40px auto;
}

.Header {
  max-width: 860px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Reset {
  width: 45px;
  height: auto;
  margin-right: 0.7em;
  cursor: pointer;
}

.Reset > path {
  fill: var(--highlight);
  stroke: black;
  stroke-width: 18px;
  stroke-dasharray: 2, 2;
  stroke-linejoin: round;
}
