.Game {
  max-width: 860px;
  margin: 40px auto;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 1.5em;
}

.small-card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 1.5em;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
